<!-- tasks/templates/tasks/create_task.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarea</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/create_task.css' %}">
</head>
<body>
    <h1 style="font-family: Verdana, sans-serif; color: yellowgreen;">Crear Nueva Tarea</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'tasks_list' %}">Volver a la lista de tareas</a>
</body>
</html>